.qmake.stash
Makefile
*.o
libsimSkeleton.1.0.0.dylib
libsimSkeleton.1.0.dylib
libsimSkeleton.1.dylib
libsimSkeleton.dylib
libsimSkeleton.so
libsimSkeleton.so.1
libsimSkeleton.so.1.0
libsimSkeleton.so.1.0.0
Makefile.Debug
Makefile.Release
object_script.*.Debug
object_script.*.Release
debug/
release/
*.pro.user
*.user
