.qmake.stash
Makefile
*.o
libsimExtPluginSkeleton.1.0.0.dylib
libsimExtPluginSkeleton.1.0.dylib
libsimExtPluginSkeleton.1.dylib
libsimExtPluginSkeleton.dylib
libsimExtPluginSkeleton.so
libsimExtPluginSkeleton.so.1
libsimExtPluginSkeleton.so.1.0
libsimExtPluginSkeleton.so.1.0.0
Makefile.Debug
Makefile.Release
object_script.*.Debug
object_script.*.Release
debug/
release/
*.pro.user
*.user
